body {
  margin: 0%;
  padding: 0%;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  margin: 10px;
}

.album_title {
  display: flex;
  justify-content: space-around;
  background-color: #343b41;
  color: white;
  font-family: sans-serif;
}

h2 {
  margin-top: 100px;
  font-size: 290%;
  margin-bottom: 8px;
}

.album_paragraph {
  margin-top: 8px;
  padding: 0%;
  color: #585c5c;
  font-family: Montserrat;
}

.album_example {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Open Sans;
  text-align: center;
}

.album_paragraph_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn_1 {
  font-family: sans-serif;
  padding: 10px;
  border-radius: 4px; 
  text-decoration: none;
  outline: none !important;
  box-shadow: none;
  background-color: #087cfc;
  color: white;
  margin-right: 2px;
}

.btn_1:hover {
  background-color: rgb(61, 61, 204);
  color: white;
}

.btn_2 {
  font-family: sans-serif;
  padding: 10px;
  border-radius: 4px; 
  text-decoration: none;
  outline: none !important;
  box-shadow: none;
  background-color: #585c5c;
  color: white;
  margin-left: 2px;
}

.btn_2:hover {
  background-color: #383c44;
  color: white;
}

.album_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  margin-top: 100px;
}

.album_card1,
.album_card2,
.album_card3 {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.album_card4,
.album_card5,
.album_card6 {
  width: calc(33.33% - 10px);
  margin-bottom: 10px; 
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.album_card7,
.album_card8,
.album_card9 {
  width: calc(33.33% - 10px); 
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.card_text{
  font-family: sans-serif;
  margin-left: 10px;
}

.img {
  width: 100%;
  max-width: 100%;
}

.text {
  margin-left: 390px;
  padding: 0%;
  margin-bottom: 40px;
}

.new_btn1 {
  font-family: sans-serif;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 4px;
  text-decoration: none;
  outline: none !important;
  box-shadow: none;
  background-color: white;
  color: #585c5c;
  margin-left: 10px;
  margin-bottom: 10px;
}

.new_btn2 {
    font-family: sans-serif;
    padding: 5px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 4px;
    text-decoration: none;
    outline: none !important;
    box-shadow: none;
    background-color: white;
    color: #585c5c;
    margin-right: 0px; 
}

.new_btn1:hover,
.new_btn2:hover {
    background-color: grey;
    color: white;
}

.footer_p {
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 90px;
}

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-bottom: 60px;
  background-color: white;
  color: #007BFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  z-index: 99;
}

#backToTopBtn:hover {
  background-color: #0056b3;
  color: white;
}
